*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(/images/background/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* long - header */

header{
    position: fixed;
    width: 100%;
}
header ul {
    background-color: rgba(17, 17, 17, 0);
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

header ul li {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    padding: 13px;
    display: inline-block;
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
}

li a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.logo-vpf{
    float: left;
    height: 153px;
    background-color:rgba(17, 17, 17, 0.9);
    width: 10%;
}

.nav_2 {
    margin: 0;
    padding: 0;
    background-color:rgba(17, 17, 17, 0.9);
    float: right;
    width: 90%;
}
.nav_1{
    background-color:rgba(17, 17, 17, 0.9);
    width: 90%;
    float: right;
}
.nav_1 li{
    margin-left:  12px;
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav_1 li:hover {
    border: 1px solid rgba(196, 18, 18, 0.867);
    border-radius: 15px;
}

.nav_2 li{
    margin-left: 37px;
    margin-right: 37px;
}

.nav_2 li:hover {
    background-color: rgb(207, 44, 44);
    border-radius: 10px;
}

/* thong, hung, phuoc - body */

/* thong - body right_bottom */
main {
    height: 800px;
    width: 100%;
}

main .nhataitro{
    background-color: rgba(17, 17, 17, 0);
}

main .anhbody {
    background-repeat: no-repeat;
    height: 1000px;
    padding: 0px;
    margin-left: 100px;
}

.nhataitro li{
    display: inline-block;
    font-size: 24px;
    line-height: 40px;
    padding: 24px;
}
.nhataitro ul{
    background:transparent;
    text-align: center;
    /* margin: 0px;
    padding: 0px; */
}
.nhataitro a{
    text-decoration: none;
    color: #ffffff;
}
.title{
    font-size: bold;
    color: #fff;
    text-align: center;
}

/* phuoc - body-left */
div.body-left{
    margin: 100px 50px 0px 50px;
}
main .body-left{
    height: 650px;
    width: 20%;
    float: left;
    background-color: rgba(17, 17, 17, 0.8);
    border-radius: 20px;
    height: 550px;
    width: 400px;
}
main .body-left table,th,td{
    border-collapse: collapse;
   
}
main .body-left table{
    
    height:200px;
    width: 100%;
}
main .body-left table .table_header{
    color:rgb(255, 255, 255);
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 20px;
}

main .body-left th{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
}

main .body-left td{
    padding: 20px;
}
main .body-left table .left_doibong{
    text-align: right;
}
main .body-left table .clmm{
    border-radius: 8px;
    width: 50px;
    padding:2px 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

main .body-left table .left{
    margin: 10px 5px;
    border-radius: 5px;
    text-align: center;
    color:rgb(69, 250, 69);
    padding:2px;
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: bolder;
}
main .body-left table .left_doibong img{
    width: 30px;
    height: 30px;
    float:right;
    padding: 0px 10px;
}
main .body-left table .left_doibong1 img{
    width: 30px;
    height: 30px;
    float:left;
    padding:0px 10px;
}
main .body-left a{
    text-decoration:none;
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
}

/* ky - footer */

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    margin-bottom: 0px;
    background: rgba(17, 17, 17, 0.9);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .container .noi-dung{
    margin-right: 30px;
}
footer  .container .noi-dung.about{
    width:40%;
}
footer .container .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer .container .noi-dung.about p{
    color: #999;
}
.social-icon{
    margin-top: 20px;
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.social-icon li a:hover{
    background: #f00;
}
.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}
.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.links{
   position: relative;
   width: 25%;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.links ul li a:hover{
    color: #fff;
}
.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}
.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin-top:16px;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary {
    background: #222;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 24px;
}
.btn--primary:hover {
    background: #f00;
}
.btn--primary:active {
    background: #f00;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.form__field {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}