.navbar-brand {
  color: rgba(255, 255, 255, 0.75) !important;
}
.information {
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.438);
  width: 90%;
  padding: 3%;
  margin: 10% auto;
  border-radius: 30px;
  color: #fff;
}
.information h2 {
  margin: 0%;
  border-bottom: 1px solid red;
}
.information h3 {
  font-size: 20px;
  font-weight: bold;
}
p.tail {
  text-align: right;
}
@media only screen and (max-width: 1024px) {
  .information {
    margin: 5%;
    float: left;
    width: 90%;
  }
}
