.navbar-brand {
  color: rgba(255, 255, 255, 0.75) !important;
}

.matches{
  font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
  background-color: rgba(0, 0, 0, 0.438);
  margin: 5% 15% 2%;
  padding: 5% 2%;
  border-radius: 30px;
  color: #fff;
}
h2.title{
  text-align: center;
  padding: 10px;
  margin-bottom: -50px;
  border-bottom: 1px solid red;
}
.dau{
  width: 100%;
  height:200px;
}
.matches form{
  margin-top: -50px;
  width: 100%;
}
.matches ul{
  text-align: center;
  float: left;
  margin-top: 70px;
}

.matches li{
  font-size: 25px;
  line-height:  40px;
  padding: 20px;
  display: inline;
}
.matches a{
  text-decoration: none;
  color: #ccc;
}

.matches li:hover{
  background-color: rgb(250, 0, 0);
  border-radius: 10px;
  padding: 10px;
}
.matches p{
  color: #fff;
  padding-top: 12px;
  font-size: 20px;
}
.matches select{
  margin: 10px 10px 0px 0px;

}

.tg{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  height: 45px;
}
p.tg{
  color: rgb(69, 250, 69);
  font-weight: bold;
  margin: 0% 5% 5% 5%;
}
.thoigian{
  width: 10% ;
  height: 40px; 
  text-align: center;
}

.option{
  height: 30px; 
  width: 20%;
}
.click{
  width: 10%; 
  margin: 10px 10px 0px 0px;
  height: 30px;
}
.lich{
  text-align: center;
  color: #fff; 
  margin-bottom: 5% ;
}
.vd{
  width: 25%;
}
.logo_club{
  height: 50px;
  margin: 0px 2%;
}
.form{
  width: 100%;
  text-align: center;
}
.ntt{
  width: 50%;
}
.main{
  width: 100%;
}
.tran{
  display: flex;
  margin-left: 2%;
  width: 100%;
  text-align: center;
}
.lich{
  width: 50%;
}
@media only screen and (min-width: 1024px){
  .tran{
      margin-left: 5%;
  }
}
@media only screen and (max-width: 1024px){
  .tran{
      margin-left: 2%;
  }
}
@media only screen and (max-width: 768px){
  .svd{
      display: none;
  }
}
