.navbar-brand {
  color: rgba(255, 255, 255, 0.75) !important;
}

.container {
  width: 90%;
  margin: 10% 5% 5% 5%;
  font-family: Tahoma, Geneva, sans-serif;
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 30px;
}
.header1 h3 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  border-bottom: 1px solid red;
}
.container p {
  margin: 10px 0;
  color: #fff;
  font-size: 21px;
  text-align: center;
}
.images {
  text-align: center;
  width: 100%;
  margin: 50px 0;
  vertical-align: middle;
}
.table-responsive {
  overflow-y: hidden;
  max-width: 100%;
}
.table-responsive table {
  width: 70%;
  height: 800px;
  margin: 0 auto;
  background-color: rgba(112, 116, 110, 0.9);
}
.table-responsive table,
tr,
th,
td {
  border-collapse: collapse;
  font-size: 15px;
}
.table-responsive thead {
  border: 1px solid #919162;
  background-color: rgba(255, 14, 14, 0.9);
}
.table-responsive tr > th {
  padding: 15px;
  border: 1px solid #919162;
  color: black;
}
.table-responsive tr > td {
  color: #fff;
  padding-left: 15px;
  border: 1px solid #919162;
}
.hd ul {
  margin: 50px auto;
  list-style-type: none;
  text-align: center;
  width: 70%;
}
.hd ul > li {
  display: inline;
  margin: 14px;
  color: #fff;
}
.container span {
  margin: 2px;
  font-weight: bold;
  color: red;
}
@media only screen and (max-width: 1024px) {
  .container {
    margin: 5%;
    float: left;
    width: 90%;
  }
}
